body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.navbar h2 {
  color: #d97706;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar a:hover {
  color: #d97706;
}

/* HERO */
.hero {
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero-content {
  background: rgba(0,0,0,0.55);
  color: white;
  padding: 40px;
  max-width: 500px;
  margin-left: 60px;
  border-radius: 8px;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.primary {
  background: #d97706;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 6px;
}

.secondary {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 6px;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  margin-bottom: 15px;
}
.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: left;
}
