body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #6b705c;
  color: white;
  padding: 15px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
}

.page {
  padding: 20px;
}
